<section>
    <img
        src="/assets/img/1_hero/PNG/sakura_logo.png"alt=""/>

        <div class="navigation">
            <nav>
                <ul>
                    <li><a href="#order">MENU</a></li>
                    <li><a href="#adress">LOCATIONS</a></li>
                    <li><a href="">ABOUT</a></li>
                </ul>
            </nav>
            <button>
                <a href="tel:017654564534">
                <img src="/assets/img/1_hero/PNG/phone.png"/>0176 54564534</a>
            </button>
        </div>
    </section>