@use '../../../../../public/assets/styles/all_styles.scss' as all;

section {
  display: flex;
  align-items: center;
  margin-top: -7em;
  height: 112px;
  padding: 0 120px;

  @include all.tablet {
        padding: 40px;
        justify-content: end;
      }

  img {
    width: 44px;
    height: 44px;
  }

  .navigation {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0;

    @include all.tablet {
        width: 100%;
        display: flex;
        justify-content: end;
        gap: 50px;
      }

      @include all.mobile {
        width: 80%;
      }

    ul {
      display: flex;
      justify-content: space-around;
      gap: 60px;
      width: 30rem;

      @media (max-width: 950px) {
        display: none;
      }
      a {
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: calc(16px + 0.3dvw);

        &:hover {
          color: grey;
          text-decoration: underline;
        }
      }
    }

    button {
      width: 220px;
      background-color: #9f0908;
      color: white;
      border: 1px solid white;
      border-radius: 5px;
      padding: 8px;

      @include all.desktop {
        width: 100%;
      }

      @include all.tablet {
        width: 80;
      }
      
      a {
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: calc(16px + 0.3dvw);
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          color: grey;
          text-decoration: none;
        }
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
