<footer>
            <div class="content">
                <img
                    class="footer-icon"
                    src="/assets/img/5_section_footer/PNG/sakura_ramen_logo_and_text.png"
                    alt=""
                />

                <div class="social-icon">
                    <a href="imprint">IMPRINT</a>
                    <a href="https://www.tripadvisor.de" target="_blank">
                        <img
                            src="/assets/img/5_section_footer/SVG/tripadvisor_logo.svg"
                            alt="Tripadvisor"
                    /></a>
                    <a href="https://www.facebook.com" target="_blank">
                        <img
                            src="/assets/img/5_section_footer/SVG/facebook_logo.svg"
                            alt="Facebook"
                    /></a>
                    <a href="https://www.instagram.com" target="_blank">
                        <img
                            src="/assets/img/5_section_footer/SVG/instagram_logo.svg"
                            alt="Instagram"
                    /></a>
                </div>
            </div>
        </footer>