<section id="menu">
                <div class="content">
                    <h2>OUR MENU</h2>
                    <div class="menu_items">
                        <div class="menu_startEnd">
                            <img
                                src="/assets/img/3_section_our_menu/Png/R1.png"
                                alt="Menu Icon"
                            />
                            <table>
                                <th colspan="2">Tonkotsu Ramen</th>
                                <tr>
                                    <td>CHICKEN</td>
                                    <td class="price">11,95€</td>
                                </tr>
                                <tr>
                                    <td>BEEF</td>
                                    <td class="price">12,95€</td>
                                </tr>
                                <tr>
                                    <td>SHRIMP</td>
                                    <td class="price">13,95€</td>
                                </tr>
                            </table>
                        </div>
                        <div class="menu_middle">
                            <table>
                                <th colspan="2">Spicy Miso Ramen</th>
                                <tr>
                                    <td>CHICKEN</td>
                                    <td class="price">11,95€</td>
                                </tr>
                                <tr>
                                    <td>BEEF</td>
                                    <td class="price">12,95€</td>
                                </tr>
                                <tr>
                                    <td>SHRIMP</td>
                                    <td class="price">13,95€</td>
                                </tr>
                            </table>
                            <img
                                src="/assets/img/3_section_our_menu/Png/R2.png"
                                alt="Menu Icon"
                            />
                        </div>
                        <div class="menu_startEnd">
                            <img
                                src="/assets/img/3_section_our_menu/Png/R3.png"
                                alt="Menu Icon"
                            />
                            <table>
                                <th colspan="2">Shio Ramen</th>
                                <tr>
                                    <td>CHICKEN</td>
                                    <td class="price">11,95€</td>
                                </tr>
                                <tr>
                                    <td>BEEF</td>
                                    <td class="price">12,95€</td>
                                </tr>
                                <tr>
                                    <td>SHRIMP</td>
                                    <td class="price">13,95€</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
