<section id="order">
                <div class="content">
                    <button>
                        <a href="#navi">Top</a>
                    </button>
                    <h2>HOW TO ORDER</h2>

                    <div class="order-steps-container">
                        <div class="order-steps">
                            <img
                                src="/assets/img/2_section_how_to_order/PNG/noodle.png"
                                alt="Pick your noddle"
                            />
                            <span>Pick your <br />noddle</span>
                        </div>
                        <div class="order-steps">
                            <img
                                src="/assets/img/2_section_how_to_order/PNG/broth.png"
                                alt="Pick your broth"
                            />
                            <span>Pick your <br />broth</span>
                        </div>
                        <div class="order-steps">
                            <img
                                src="/assets/img/2_section_how_to_order/PNG/egg.png"
                                alt="Add your toppings"
                            />
                            <span>Add your <br />toppings</span>
                        </div>
                    </div>
                </div>
            </section>
